/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Truong Hong Van
ID: 3957034
Acknowledgement: 



 */
/* Variables for color */
:root {
  --dark: #23303d;
  --grey: #efefef;
  --light-brown: #cba688;
  --dark-nude: #ffecda;
  --light-nude: #f9ffea;
  --pink: #d4a5a5;
  --blue: #a6d0e4;
  --light-green: #a5d7e8;
}

/* General */
*,
html {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  scrollbar-width: 0px;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: var(--dark);
  overscroll-behavior: none;
  background: var(--grey);
}
p {
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  color: var(--light-brown);
  text-decoration: underline;
}

img {
  width: 80%;
  height: 250px;
}

.img-container {
  position: relative;
  bottom: 120px;
  width: 100%;
}

button {
  background-color: var(--pink);
  border: none;
  box-shadow: 2px 2px 5px var(--dark);
  border-radius: 20px;
}

button:hover {
  background-color: var(--light-brown);
  box-shadow: 2px 2px 5px var(--dark) inset;
}

.button-content {
  font-size: 2em;
  color: var(--light-nude);
}

.button-content:hover {
  color: var(--dark-nude);
}

/* Bookstore logo */
.store-logo {
  position: relative;
  top: -30px;
  left: -15%;
  z-index: 2;
}
.store-logo img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -50px;
}
.store-logo p {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  color: var(--dark-nude);
  letter-spacing: 0.2em;
  position: absolute;
  top: 10px;
}

/* Navigation bar */
.mobile-nav-icon {
  display: none;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  position: absolute;
  font-size: 20px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: var(--dark);
  z-index: 2;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  padding-left: 5em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

nav a {
  color: white;
}

nav a:hover {
  border-bottom: 3px solid var(--dark-brown);
  opacity: 0.5;
}

/* Background */
#banner {
  background-image: url(./assets/img/background.jpg);
  height: 800px;
  background-size: cover;
}

#banner .img-container {
  position: relative;
  right: 5%;
  top: -200px;
  display: flex;
  justify-content: flex-end;
}

#banner img {
  width: 20%;
  height: 15%;
  padding-left: 3em;
  transform: skew(5deg 5deg);
  box-shadow: 15px 10px var(--light-nude);
}

#banner .image-cover {
  position: absolute;
}

#banner h1 {
  position: relative;
  top: 200px;
  padding-left: 10%;
  z-index: 1;
  letter-spacing: 5px;
  color: var(--blue);
  font-size: 7em;
  text-shadow: 5px 10px black;
}

#banner h2 {
  position: relative;
  z-index: 1;
  left: -25%;
  top: 200px;
  color: white;
}

/* Breadcrumb navigation */
.breadcrumb {
  margin: 20px 0 0 40px;
  padding: 0 10px;
}

.breadcrumb li {
  list-style: none;
  display: inline;
}

.breadcrumb li + li:before {
  padding: 8px;
  content: ">>";
}

.breadcrumb a:hover {
  text-decoration: underline;
  color: var(--light-brown);
}

/* Category section */
#category {
  margin-top: 10%;
  padding-bottom: 10%;
  position: relative;
}

h2 {
  text-align: center;
  font-family: "Caveat", cursive;
  letter-spacing: 5px;
  font-size: 5em;
  border-radius: 25px;
  color: var(--dark);
  text-shadow: 2px 2px 3px var(--light-brown);
}

#category h3 {
  padding: 1em 0 1em 1em;
  font-family: "Caveat", cursive;
  font-size: 3em;
  color: var(--dark);
  text-decoration: overline 5px var(--pink);
}

/* Bookshelf*/
.bookshelf {
  max-width: 1000px;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
  z-index: 1;
  position: relative;
  top: 350px;
  height: 0px;
  box-sizing: border-box;
  border-bottom: 16px solid var(--blue);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  pointer-events: all;

}
.bookshelf::before {
  content: "";
  position: absolute;
  top: 16px;
  background: linear-gradient(to bottom, var(--blue), var(--grey));
  height: 26px;
  width: calc(100% + 40px);
  box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.05), 0px 4px 16px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.bookshelf::after {
  content: "";
  height: 80px;
  width: calc(100% + 40px);
  position: absolute;
  top: 42px;
  display: block;
  background: linear-gradient(180deg, var(--blue) 100%);
  clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 3% 100%);
  z-index: -1;
}

.category-detail {
  position: relative;
}
.category-detail ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  pointer-events: all;
}

.bestsellers {
  background-size: cover;
}

.bestsellers img {
  width: 100%;
  box-shadow: 10px 10px 15px var(--dark);
}
.bestsellers ul {
  margin-top: -25%;
  margin-left: auto;
  margin-right: auto;
  animation: run 10s linear infinite;
}

.bestsellers li {
  margin-left: 30px;
}

@keyframes run {
  0% {
    transform: translate(0, 0)
  }
  50% {
    transform: translate(-10%, 0)
  }
  100% {
    transform: translate(10%, 0)
  }
  
}

.bestsellers img:hover {
  margin-top: -30%;
  transform: translate(0, -70px) skew(-3deg, 3deg) scale(1.2);
  transition: 0.2s linear;
}

.home-fic h2,
.home-nonfic h2 {
  padding-bottom: 5%;
}

.home-fic {
  margin-top: 45%;
  margin-bottom: 15%;
  padding-top: 10%;
  background: url(./assets/img/cloud-background.jpg);
}

.home-nonfic {
  padding-bottom: 15%;
  background: url(./assets/img/cloud-background3.jpg);
}

.category-detail li p {
  text-align: center;
  margin-top: 20px;
}

.book {
  width: 200px;
  padding: 30px 30px 30px 65px;
  border-radius: 50% 0;
  background-color: var(--light-green);
}

.book img {
  box-shadow: 10px 10px 15px var(--dark);
  margin-top: 20px;
}

.category-detail a:hover {
  color: 0;
  opacity: none;
}

.book:hover {
  border-radius: 50%;
  transition: all 0.5s linear;
  background: var(--dark-nude);
  box-shadow: 10px 10px 15px var(--dark);
  opacity: 1;
}

.name {
  font-size: large;
  font-weight: bold;
}

.author {
  font-style: italic;
  color: var(--dark);
}

.price {
  font-weight: 500;
  font-size: 1.2em;
}

/* Fiction page */
.crime,
.adventure,
.thriller,
.selfhelp,
.science,
.psycho {
  margin-top: 5%;
  padding-bottom: 5%;
  border-radius: 25px;
}
.crime,
.psycho {
  background: linear-gradient(to bottom, var(--blue), var(--light-nude));
}

.adventure,
.selfhelp {
  background: linear-gradient(to bottom, var(--light-nude), var(--blue));
}

/* Category section break */
.section-break p {
  position: relative;
  z-index: 1;
  font-size: 1.2em;
  text-align: center;
  margin-top: 50px;
}

/* Motivation section */
#motivation {
  margin-top: 15%;
  background: linear-gradient(90deg, var(--pink), var(--blue));
  position: relative;
  padding-top: 15%;
  padding-bottom: 20%;
  height: 100%;
}

#vid-material {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

#reading-challenge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-left: 10%;
}

#reading-challenge h3 {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-family: "Caveat", cursive;
  font-size: 1.5em;
}

#reading-challenge ol {
  font-size: larger;
  padding-top: 50px;
  width: 80%;
}

#reading-challenge .img-container {
  position: relative;
  left: -30px;
  top: -30%;
}
#reading-challenge img {
  height: 450px;
  width: 350px;
  position: absolute;
  z-index: 0;
  transform: rotate(10deg);
}

/* Image cover */
.img-cover {
  height: 450px;
  width: 350px;
  position: absolute;
  background-image: url(./assets/img/img_cover.png);
  z-index: 1;
  top: 10px;
  transform: rotate(20deg);
  opacity: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-cover:hover {
  opacity: 0;
  transition: 2s linear;
}

/* Email input */
#reading-challenge form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  margin-left: -50px;
}

#reading-challenge .text {
  height: 50px;
  width: auto;
  padding: 0;
  margin: 0;
  border-radius: 25px;
  font-size: 1.1em;
}

#reading-challenge .submit {
  background-color: var(--dark);
  text-align: center;
  padding-bottom: 50px;
  font-size: 1.1em;
  border-radius: 60px;
  height: 30px;
}
/* Footer */
footer {
  display: flex;
  color: white;
  background-color: var(--dark);
  margin-top: 30%;
}

#aboutus,
#connect,
#footer-menu {
  margin: 10px;
  padding: 30px;
}

/* About us section */
#aboutus {
  border-right: 1px solid white;
  width: 60%;
}

#aboutus .store-logo {
  display: block;
  position: relative;
  left: 40px;
  top: -30px;
}
.aboutus-content {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/*Footer menu */
#footer-menu {
  border-bottom: 1px solid white;
}
#footer-menu a {
  color: white;
}

#footer-menu a:hover {
  color: var(--light-brown);
}

#footer-menu ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

#footer-menu li {
  padding-right: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
}

/* Connect with us section */
.media-icon {
  display: flex;
  margin-top: 5%;
}

.media-icon img {
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  margin-top: 50px;
  font-size: small;
  color: var(--light-brown);
  text-align: center;
}

/* Back to top button */
#backtotop {
  background-color: white;
  box-shadow: 5px 5px 5px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  margin-left: 95%;
  margin-top: 95%;
  opacity: 0.4;
}

#backtotop img {
  height: 40px;
  width: 50px;
}

#backtotop:hover {
  background-color: var(--light-green);
  font-size: 2em;
  box-shadow: 5px 5px 5px var(--light-brown);
  opacity: 1;
}

/* Audio */
audio {
  opacity: 0.5;
  --offset: 50px;
  position: fixed;
  bottom: 20px;
  margin-right: 95%;
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  width: 200px;
}

/* Book detail page */
/* Product brief */
#product-brief .product-container {
  display: flex;
  margin: 30px 0 0 80px;
  height: fit-content;
  width: fit-content;
}

#product-brief .side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

#product-brief .main {
  margin-left: 20px;
}

#product-brief .main img {
  height: 600px;
  width: 400px;
}

#product-brief .side img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

#product-brief .side img:hover {
  transition: all 0.1s linear;
  border: 2px solid var(--light-brown);
  height: 300px;
  width: 200px;
  margin-left: 20%;
}

.info {
  margin: 0 80px 20px 30px;
  padding: 10px;
  border-radius: 25px;
  background: linear-gradient(90deg, var(--light-green), var(--blue));
}

/* Product brief content */
#product-brief {
  margin-bottom: 5%;
}
#product-brief h2,
#product-brief h3 {
  font-family: "Montserrat", sans-serif;
}

#product-brief h2 {
  letter-spacing: normal;
  font-size: 3em;
}

#product-brief h3 {
  padding-top: 10px;
  letter-spacing: 2px;
  font-size: 2.5em;
}
.info .general {
  display: flex;
  justify-content: space-around;
}
#product-brief button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
}

#product-brief a {
  font-style: italic;
}

/* About author */
#aboutauthor {
  margin-top: 5%;
}

#aboutauthor .info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

#aboutauthor img {
  width: 250px;
  padding: 0 50px;
}

/* Product details section */
#product-detail {
  margin-top: 10px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 10px 0;
}

.attribute {
  font-weight: bold;
  width: 30%;
}

.attribute,
.value {
  height: 35px;
}

/* Contact us page */
form {
  margin: 2% 20% 2% 20%;
  padding: 30px;
  background-color: var(--light-green);
  border-radius: 25px;
  font-size: large;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--dark);
  text-shadow: 4px 4px 5px;
}

#info-personal,
#info-purpose {
  padding-left: 5%;
  margin-top: 20px;
  background-color: white;
}

.form-detail {
  padding: 5% 5% 5% 10%;
  line-height: 50px;
}

#contact-form .text,
#contact-form textarea,
#contact-form select {
  border-radius: 25px;
  background-color: var(--grey);
}

#contact-form .text {
  height: 30px;
  width: 300px;
}

#contact-form input:hover,
#contact-form textarea:hover {
  box-shadow: 2px 2px 5px inset var(--dark);
}

.buttons {
  margin: 5% 0 0 25%;
}

.submit,
.reset {
  margin: 20px;
  padding: 20px 40px;
  font-size: 1.5em;
  border-radius: 25px;
  color: var(--dark-nude);
  font-weight: bold;
}

.submit:hover,
.reset:hover {
  background-color: var(--light-brown);
}

.submit {
  background-color: rgb(186, 63, 63);
}

.reset {
  background-color: var(--pink);
}

/* Media query: Web layout on mobile devices */
@media (max-width: 960px) {
  html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

  /* Navigation bar */
  nav {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 50px 0 10px 0;
    display: none;
    opacity: 0.9;
  }

  nav ul {
    flex-direction: column;
    margin-top: 30px;
  }

  nav li {
    margin-bottom: 10px;
    font-size: 1.2em;
  }

  /* Display the hamburger icon and the nav bar when it's hovered*/
  .mobile-nav-icon {
    display: block;
    opacity: 0.7;
    z-index: 2;
    background-color: var(--grey);
  }

  .mobile-nav-icon:hover + nav {
    display: block;
  }

  nav:hover {
    display: block;
  }

  .store-logo {
    left: 100px;
  }

  #store-logo img {
    left: 50px;
  }

  /* Banner */
  #banner .img-container {
    top: 5%;
    margin-left: -20%;
  }

  #banner img {
    width: 25%;
    height: 20%;
    padding-left: 2em;
  }

  #banner .image-cover {
    position: absolute;
  }

  #banner h1 {
    top: 20px;
    padding-left: 0;
    text-align: center;
    font-size: 5em;
  }

  #banner h2 {
    top: 2%;
    left: 0;
    font-size: 4em;
    text-align: center;
  }

  /* Category section */
  #category h3 {
    padding-left: 0;
    text-align: center;
  }

  /* Category detail*/
  #category {
    margin-top: 30%;
    padding-bottom: 40%;
  }

  h2 {
    font-size: 4em;
  }

  .bookshelf {
    top: 250px;
  }

  .bestsellers ul {
    margin-bottom: 100px;
  }

  @keyframes run {
    0% {
      transform: translate(0, 0)
    }
    50% {
      transform: translate(-450px, 0)
    }
    100% {
      transform: translate(-900px, 0)
    }
  }

  .category-detail ul {
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

  .home-fic {
    margin-top: 80%;
    padding-top: 20%;
  }

  .home-nonfic {
    padding-bottom: 5%;
  }

  .book {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* Category section break */
  .section-break p {
    margin-top: 70px;
  }

  /* Motivation section */
  #motivation {
    margin-top: 25%;
    padding-top: 40%;
    padding-bottom: 80%;
  }

  #vid-material {
    flex-flow: column wrap;
    align-items: center;
  }

  #vid-material iframe {
    padding-top: 30px;
    width: 80%;
  }

  #reading-challenge {
    display: block;
    margin-top: 100px;
    margin-left: 0;
  }


  #reading-challenge ol {
    margin-left: 10%;
    padding: 80px 0;
  }

  #reading-challenge .img-container {
    top: 20px;
    left: 10%;
    right: auto;
    
  }

  #reading-challenge img, #reading-challenge .img-cover {
    height: 400px;
    width: 300px;

  }

  #reading-challenge form {
    flex-flow: column wrap;
  }

  /* Footer */
  #footer-menu {
    margin: 10px 0;
    padding: 20px 0;
  }

  #connect {
    margin: 10px 0;
    padding: 20px 0;
  }
  /*Footer menu */

  #footer-menu ul {
    flex-flow: column wrap;
    align-items: center;
  }

  #footer-menu li {
    padding-right: 0px;
    padding-left: 0px;
    width: fit-content;
  }

  /* Connect with us section */
  .media-icon {
    display: flex;
    margin-top: 5%;
  }

  /* Back to top button */
  #backtotop {
    background-color: white;
    box-shadow: 5px 5px 5px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    margin-top: 95%;
    margin-left: 90%;
    opacity: 0.4;
  }

  /* Breadcrumb navigation */
  .breadcrumb {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  /* Book detail page */
  /* Product brief */
  #product-brief .product-container {
    flex-flow: column wrap;
    align-items: center;
    margin: 30px 0 30px 0;
    width: auto;
    height: auto;
  }

  #product-brief .side {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #product-brief .main {
    margin: 30px 0;
  }

  #product-brief .main img {
    height: 500px;
    width: 400px;
  }

  #product-brief .side img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
  }

  #product-brief .side img:hover {
    transition: all 0.1s linear;
    border: 2px solid var(--light-brown);
  }

  .info {
    margin: 0 50px 20px 50px;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--grey);
  }

  /* About author */
  #aboutauthor .info {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }

  /* Contact us page */
  form {
    margin: 2% 10% 2% 10%;
    padding: 20px;
    font-size: larger;
  }

  #info-personal,
  #info-purpose {
    padding-left: 0;
  }

  .form-detail {
    padding: 5% 5% 5% 5%;
  }

  #contact-form .text-label {
    display: block;
  }

  #contact-form input:hover,
  #contact-form textarea:hover {
    box-shadow: 2px 2px 5px inset var(--dark);
  }

  .buttons {
    margin: 5% 0 0 25%;
  }
}
