/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Truong Hong Van
ID: 3957034
Acknowledgement: 

 */
/* Variables for color */
:root {
  --dark: #23303d;
  --dark-green: #395159;
  --light-green:#90A3A7;
  --grey:#EFEFEF;
  --dark-brown:#935430;
  --light-brown:#cba688;
}

/* General */
* {
    scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
}
body {
  font-family: "Noto Sans", sans-serif;
  color: var(--dark);
  overscroll-behavior: none;
  background-color: white;
}
a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  color: var(--light-brown);
}

img {
  width: 150px;
  height: 250px;
}

/* Bookstore logo */
#store-logo {
  display: flex;
  margin-left: -20%;
}
#store-logo img {
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
}
#store-logo p {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  color: var(--light-blue);
  letter-spacing: 0.2em;
}

/* Navigation bar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: var(--dark-green);
}

nav li {
  list-style: none;
  display: inline-block;
  padding-left: 5em;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}

nav a {
  color: var(--grey);
}

nav a:hover {
  border-bottom: 3px solid var(--dark-brown);
  opacity: 0.5;
}

/* Background */
#banner {
  margin-top: -7%;
  background-image: url(./assets/img/background2.jpg);
  height: 100%;
  background-size: cover;
  opacity: 0.8;
}

#banner .img-container {
  position: relative;
  left: 50%;
  top: -300px;
}

#banner  img {
  width: 20%;
  height: 15%;
  padding-left: 3em;
  transform: skew(5deg 5deg);
  box-shadow: 15px 10px  var(--dark-neutral);
}

#banner .image-cover {
  position: absolute;

}

#banner h1 {
  position: relative;
  top: 200px;
  left: 8%;
  letter-spacing:5px;
  color: var(--light-blue);
  font-size: 7em;
}

#banner h2 {
  position: relative;
  z-index: 1;
  left: -25%;
  top: 200px;
  color: var(--grey);
}
/* Category section */
#category {
  margin-top: 15%;
  padding-bottom: 10%;
  position: relative;
  color: var(--nude);
  background: linear-gradient(to bottom, white, var(--grey));
}


h2 {
  text-align: center;
  font-family: "Caveat", cursive;
  letter-spacing: 5px;
  font-size: 5em;
  border-radius: 25px;
  color: var(--dark);
}

#category h3 {
  padding-left: 2em;
  font-family: "Caveat", cursive;
  font-size: 3em;
  color: var(--nude);
}

/* Category detail*/
.category-detail {
  position: relative;
}
.category-detail ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}


.non-fic {
  padding-bottom: 5%;
}

.category-detail li p {
  text-align: center;
}


.book {
  margin-left: 30px;
  width: 200px;
  padding: 30px;
  border-radius: 50% 0;
  padding-left: 65px;
  background-color: var(--light-green);
  box-shadow: 2px 2px 15px var(--dark-neutral);
  opacity: 0.5;
}

.book img {
  box-shadow: 10px 10px 15px var(--dark-neutral);
  
}

.category-detail a:hover {
  color: 0;
  opacity: none;
  border-radius: 0;
  width: 210px;
  
}

.book:hover {
  border-radius: 0;
  transition: all .5s linear;
  background: linear-gradient(to bottom, var(--light-green), var(--dark-green));
  box-shadow: 10px 10px 15px var(--dark-neutral);
  opacity: 1;
}

.name {
  font-size: large;
  font-weight: bold;
}

.author {
  font-style: italic;
  color: var(--dark);
}

.price {
  font-weight: 500;
  font-size: 1.2em;
}

/* Category section break */
.section-break p {
  position:relative;
  z-index: 1;
  font-size: 1.2em;
  text-align: center;
  margin-top: 50px;
}

/* Motivation section */
#motivation {
  margin-top: 15%;
  background-color: var(--light-green);
  position:relative;
  padding-top: 10%;
  padding-bottom: 20%;
}

#vid-material {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#reading-challenge {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

#reading-challenge h3 {
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
}

.title {
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
}

#reading-challenge ol {
  font-size: larger;
}

.img-container {
  position: relative;
  right: 25%;
  bottom: 120px;
}

#reading-challenge img {
  height: 500px;
  width: 400px;
  position:absolute;
  z-index: 0;
  transform: rotate(10deg);
}

/* Image cover */
.img-cover {
  height: 500px;
  width: 400px;
  position: absolute;
  background-image: url(./assets/img/img_cover.png);
  z-index: 1;
  top: 10px;
  transform: rotate(20deg);
  opacity: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-cover:hover {
  opacity: 0;
  transition: 2s linear;
}


/* Back to top arrow */
#backtotop {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    box-shadow: 5px 5px 5px;
    border-radius: 50%;
    --offset: 50px;   
    position: sticky;
    bottom: 20px;      
    margin-left: 95%; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
}

#backtotop img {
    height:40px;
    width: 50px;
}

#backtotop:hover {
    background-color: var(--dark-brown);
    box-shadow: 5px 5px 5px;
    font-size: 3.5em;
    opacity: 1;
    color: none;
}


/* Footer */
footer {
    background: linear-gradient(var(--dark-neutral), black);
}
